<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeST</display-name>
    <servlet-name>EmployeeST</servlet-name>
    <servlet-class>com.ex.servlet.EmployeeST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeST</servlet-name>
    <url-pattern>/EmployeeST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>com.ex.servlet.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.ex.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>